@model RolesModel
@{
    ViewData["Title"] = "deleteRol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
            </div>
        </nav>
    </header>

</body>
<div class="card">
    <div class="card-header">
        Eliminar Rol
    </div>
    <div class="card-body">
        <form asp-action="deleteRol" asp-controller="Rol" method="post">
            <input asp-for="IdRol" type="hidden" class="form-control" />
            <div class="alert alert-primary" role="alert">
                ¿Desea eliminar este rol: @Html.DisplayTextFor(m=> m.NombreRol) ?
            </div>
            <button type="submit" class="btn btn-danger"><i class="bi bi-person-x-fill  me-2"></i>Eliminar</button>
            <a asp-action="Roles" asp-controller="Rol" class="btn btn-warning"><i class="bi bi-backspace me-2"></i>Volver a la lista de Roles</a>
        </form>
    </div>
</div>


